name: DevOps CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show files
        run: ls -la

      - name: Run bash script
        run: |
          echo "CI Pipeline Running Successfully"
